
:root{
    --main-dark-color:#121212;
    --secondary-color:#181818;
    --tertiary-color:#292929;
    --primary-color:#BB86FC;
    --primary-color:#ae76f3;
    --font-color: #e3e3e3;
    --green:#33ee0e;
    --secondary-purple:#3700B3;
}
/*313866 50409A 964EC2 FF788f*/
*{margin: 0px; padding: 0px; background-color: var(--main-dark-color); color: var(--font-color);}

body{
    display: grid;
    min-height: 100vh;/* ocupar a altura interira*/
    grid-template-columns: 350px 1fr 350px; /* 350px nav 1fr conteudo 350px nvr*/
    grid-template-rows: 50px 1fr 50px;/*50px para o cabeçalho 1fr para ocupar o espaço todo e 50px para  rodapé*/
    grid-template-areas:
    'cabecalho cabecalho cabecalho'  
    'nav conteudo navr' 
    'rodape rodape rodape';
}
p{background-color: #00000000;}

strong.P{color: var(--primary-color); background-color: var(--secondary-color);}

@media(max-width: 768px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 400px 50px;
        grid-template-areas: 
        'cabecalho' 
        'conteudo'
        'navr'
        'rodape';
    }
}

header,footer{background-color: var(--secondary-color);}
/* HEADER*/
header{
    grid-area: cabecalho;
    display: flex;
    align-items: center;

    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-family: 'The Nautigal', cursive;
    border-bottom: 1px solid var(--primary-color);
}

/* MAIN */ 
main{
    grid-area: conteudo;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeAndButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 350px;
    width: 350px;
    
    font-size: 60px; 
    font-family: 'Orbitron', sans-serif;
    
    border-radius: 50%;
    background: var(--main-dark-color);
    box-shadow: inset 5px 5px 10px #070707,inset -5px -5px 10px #1d1d1d;

    overflow: hidden;
}

p.twodots{margin-left: 4px;}
p.twodots,p#pomodoro-minutes,p#pomodoro-seconds{background-color: var(--main-dark-color);}
p#pomodoro-minutes,p#pomodoro-seconds{z-index: 1;text-shadow: 1px 1px 10px #5b5b5b,0px 2px 0px #ffffff;}
p.timer_type{
    position: absolute;
    margin-top: 153px;
    font-size: 30px;
    font-weight: bold;
    color: var(--tertiary-color);
    background: var(--main-dark-color);
    text-shadow: 1px 1px 10px #070707,0px 2px 0px #1d1d1d;
}

.buttons{
    display: flex;
    flex-direction: row;

}

button.pause, button.start{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px 0px 0px 10px;
    height: 60px;
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    
    color: var(--font-color);
    background-color: var(--secondary-color);
    
    border-color: var(--primary-color);
    text-shadow: 2px 2px  rgba(15, 15, 15,0.50);
}

/* NAV */
navr, nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
    font-family: 'Orbitron', sans-serif;
}

navr{
    grid-area: navr;
    right: 20px;
}

nav{
    grid-area: nav;
    left: 20px;
}

form.input_form{
    display: grid;
    
    min-height: 300px;/* ocupar a altura interira*/
    grid-template-columns: 300px;
    grid-template-rows: 160px 160px 1fr;
    grid-template-areas:
    'inp-w'  
    'inp-b' 
    'inp-s';
    width: 300px;
    height: 420px;

    border-radius: 5px;
    border: 1px solid var(--primary-color);
    
    color: var(--primary-color);
    background-color: var(--secondary-color);
    background: #121212;
    
    box-shadow:  5px 5px 10px #070707, -5px -5px 10px #1d1d1d;
    overflow: hidden;
}
#inp-w{
    grid-area: inp-w;
}

#inp-b{
    grid-area: inp-b;
}

#inp-s{
    grid-area: inp-s;
}

#inp-w,#inp-b,#inp-s{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.text-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85px;
    border-radius: 5px; 
    background-color: #292929;
    #inp-w{
        grid-area: inp-w;
    }
    
    #inp-b{
        grid-area: inp-b;
    }
    
    #inp-s{
        grid-area: inp-s;
    }
    
    #inp-w,#inp-b,#inp-s{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    
    .text-inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85px;
        border-radius: 5px; 
        background-color: #292929; 
        
    }
    
}

input#work-minutes,input#break-minutes{
    width: 100%;
    height: 85px;
    font-size: 35px;
    border: 1px solid var(--primary-color);
    
    background-color: var(--secondary-color);
    text-align: center;
}
input ::placeholder{
    text-align: center;
}

input#send{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: stretch;
    height: 100%;

    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border: none;
    background-color: var(--primary-color);
}




@media(max-width: 768px){
    form.input_form{
        width: 100%;
        height: 350px;
        font-size: 30px;
    }
    input#work-minutes,input#break-minutes{
        width: 80%;
        height: 50px;
    }
    input#send{
        font-size: 35px;
        top: 32px;}

}

#cycles-container{
    display: grid;
    min-height: 300px;/* ocupar a altura interira*/
    grid-template-columns: 300px;
    grid-template-rows: 140px 140px 1fr;
    grid-template-areas:
    'wc'  
    'bc' 
    'tt';

    width: 300px;
    height: 420px;

    border-radius: 5px;
    border: 1px solid var(--primary-color);
    
    color: var(--primary-color);
    background-color: var(--secondary-color);
    background: #121212;
    
    box-shadow:  5px 5px 10px #070707, -5px -5px 10px #1d1d1d;
    overflow: hidden;
}

#cycles-container > .WC{
    grid-area: wc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
}
#cycles-container > .BC{
    grid-area: bc;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cycles{
    font-size: 40px;
}
#cycles-container > .TT{
    grid-area: tt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
}

#cycles-container > .TT > .Time{
    font-size: 40px;
    background-color: #00000000;
}

.text{
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

/*FOOTER*/

footer{
    grid-area: rodape;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 2px solid var(--primary-color);
}

.my_linkedin{
    background-color: #00000000;
    margin-right:10px;
}