
:root{
    
    --main-dark-color:#121212;
    --secondary-color:#181818;
    --tertiary-color:#292929;
    --primary-color:#BB86FC;
    --font-color: #e3e3e3;
    --green:#33ee0e;
    --secondary-purple:#3700B3;

}
/*313866 50409A 964EC2 FF788f*/
*{
    margin: 0px;
    padding: 0px;
    background-color: var(--main-dark-color);
    color: var(--font-color);
}

body{
    display: grid;
    min-height: 100vh;/* ocupar a altura interira*/
    grid-template-columns: 1fr 250px ;/*250px para a nevegação*/
    grid-template-rows: 50px 1fr 50px;/*100px para o cabeçalho 1fr para ocupar o espaço todo e 100px para  rodapé*/
    grid-template-areas:'cabecalho cabecalho'  'conteudo navegacao ' 'rodape rodape';
}
p{
    background-color: var(--secondary-color);
}

strong.P{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
@media(max-width: 700px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 1fr 100px;
        grid-template-areas: 'cabecalho' 'navegacao' 'coteudo' 'rodape';
        
    }

}
header,footer{
    
    background-color: var(--secondary-color);
    
}
/* HEADER*/
header{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-family: 'The Nautigal', cursive;
    grid-area: cabecalho;
    border-bottom: 1px solid var(--primary-color);
    
}

/* MAIN */ 
main{
    margin: 20px;
    grid-area: conteudo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-container{
    height: 350px;
    width: 350px;
    font-size: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    
    border-radius: 50%;
    background: var(--main-dark-color);
    box-shadow: inset 5px 5px 10px #070707,inset -5px -5px 10px #1d1d1d;

}
p.twodots{
    margin-left: 4px;
}
p.twodots,p#w_minutes,p#w_seconds{
    background-color: var(--main-dark-color);
}
p#w_minutes,p#w_seconds{
    z-index: 1;
    text-shadow: 1px 1px 10px #5b5b5b,0px 2px 0px #ffffff;
}

p.timer_type{
    position: absolute;
    margin-top: 153px;
    font-size: 30px;
    font-weight: bold;
    color: var(--tertiary-color);
    background: var(--main-dark-color);
    text-shadow: 1px 1px 10px #070707,0px 2px 0px #1d1d1d;


}

.buttons{
    display: flex;
    flex-direction: row;

}

button.pause, button.start{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px 0px 0px 10px;
    height: 60px;
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5%;
    
    color: var(--font-color);
    background-color: var(--secondary-color);
    
    border-color: var(--primary-color);
    text-shadow: 2px 2px  rgba(15, 15, 15,0.50);
}


/* NAV */

nav{
    grid-area: navegacao;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-family: 'Orbitron', sans-serif;
}

form.input_form{
    width: 230px;
    
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    border-radius: 5px;
    color: var(--primary-color);
    box-shadow: 1px 1px 20px 1px var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);

    border-radius: 5px;
background: #121212;
box-shadow:  5px 5px 10px #070707,
             -5px -5px 10px #1d1d1d;
}

input#time-minutes,input#send,input#time-seconds{
    width: 200px;
    height: 35px;
    font-size: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--tertiary-color);
}

input#send{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/*FOOTER*/

footer{
    border-top: 2px solid var(--primary-color);
    grid-area: rodape;
}
