/*FOOTER*/

footer{
    grid-area: rodape;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid var(--primary-color);
}

.my_linkedin{
    background-color: #00000000;
    margin-right:10px;
}