/* MAIN */ 
main{
    grid-area: conteudo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.timeAndButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    
    font-size: 70px; 
    font-family: 'Orbitron', sans-serif;
    
    border-radius: 50%;
    background: var(--main-dark-color);
    box-shadow: inset 5px 5px 10px #070707,inset -5px -5px 10px #1d1d1d;

    overflow: hidden;
}

p.twodots{margin-left: 4px;}
p.twodots,p#pomodoro-minutes,p#pomodoro-seconds{background-color: var(--main-dark-color);}
p#pomodoro-minutes,p#pomodoro-seconds{z-index: 1;text-shadow: 1px 1px 10px var(--tertiary-color),0px 2px 0px var(--font-color);}
p.timer_type{
    position: absolute;
    margin-top: 153px;
    font-size: 30px;
    font-weight: bold;
    color: var(--tertiary-color);
    background: var(--main-dark-color);
    text-shadow: 1px 1px 10px #070707,0px 2px 0px #1d1d1d;
}

/*BUTTONS*/
.buttons{
    display: flex;
    flex-direction: row;
}

button.pause, button.start,button.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    margin-top: 20px;
    height: 60px;
    width: 150px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    border-color: var(--primary-color);
    background-position: center;
    transition: background 0.8s;

}


.start:hover,.pause:hover,.reset:hover{
cursor: pointer;
background-color: var(--primary-color) ;
background-image: radial-gradient(circle,transparent 1%,#a375db 1%);
background-position: center;
background-size: 15000%;

}

.start:active,.pause:active,.reset:active    {
transition: background 0s;
background-color: #fff;
background-size: 100%;
border: none;
}

.start-img,.pause-img,.reset-img{
    background-color: #00000000;
    width: 30px; 
    height: 30px;
}
.start-img:hover,.pause-img:hover,.reset-img:hover{
    animation: bigger-size 100ms ease-in-out forwards; 
}

@keyframes bigger-size {
    0%{
        width: 35px; 
        height: 35px;
    }
    100%{
        width: 45px; 
        height: 45px;
    }
}

