/* NAV */
navr, nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}

navr{
    grid-area: navr;
    right: 20px;
}

nav{
    grid-area: nav;
    left: 20px;
}

form.input_form{
    display: grid;
    
    min-height: 300px;/* ocupar a altura interira*/
    grid-template-columns: 300px;
    grid-template-rows: 125px 125px 50px;
    grid-template-areas:
    'inp-w'  
    'inp-b' 
    'inp-s';
    width: 300px;
    height: 300px;

    border-radius: 5px;
    border: 1px solid var(--primary-color);
    
    color: var(--primary-color);
    background-color: var(--secondary-color);
    background: #121212;
    
    box-shadow:  5px 5px 10px #070707, -5px -5px 10px #1d1d1d;
    overflow: hidden;
}

#inp-w{
    grid-area: inp-w;
}

#inp-b{
    grid-area: inp-b;
}

#inp-s{
    grid-area: inp-s;
}

#inp-w,#inp-b,#inp-s{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.text-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85px;
    border-radius: 5px; 
    background-color: #292929;
    
}
    #inp-w{
        grid-area: inp-w;
    }
    
    #inp-b{
        grid-area: inp-b;
    }
    
    #inp-s{
        grid-area: inp-s;
    }
    
    #inp-w,#inp-b,#inp-s{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    
    .text-inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85px;
        border-radius: 5px; 
        background-color: #292929; 
        
    }

input#work-minutes,input#break-minutes{
    width: 100%;
    height: 85px;
    font-size: 30px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
input ::placeholder{
    text-align: center;
}

input#send{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: stretch;
    height: 100%;

    font-size: 30px;
    
    font-family: 'Orbitron', sans-serif;
    border: none;
    background-color: var(--primary-color);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.438)
}




/*@media(max-width: 768px){
    form.input_form{
        width: 100%;
        height: 350px;
        font-size: 30px;
    }
    input#work-minutes,input#break-minutes{
        width: 80%;
        height: 50px;
    }
    input#send{
        font-size: 35px;
        top: 32px;}

}*/

#cycles-container{
    display: grid;
    min-height: 300px;/* ocupar a altura interira*/
    grid-template-columns: 300px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
    'wc'  
    'bc' 
    'tt';

    width: 300px;
    height: 300px;

    border-radius: 5px;
    border: 1px solid var(--primary-color);
    
    color: var(--primary-color);
    background-color: var(--secondary-color);
    background: #121212;
    
    box-shadow:  5px 5px 10px #070707, -5px -5px 10px #1d1d1d;
    overflow: hidden;
}

#cycles-container > .WC{
    grid-area: wc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
}
#cycles-container > .BC{
    grid-area: bc;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cycles{
    font-size: 30px;
}
#cycles-container > .TT{
    grid-area: tt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
}

#cycles-container > .TT > .Time{
    font-size: 35px;
    background-color: #00000000;
}

.text{
    font-size: 25px;
    margin-bottom: 5px;
}
